/* COMMON */

body {
    margin: 0;
    background-color: #060f2b;
    color: white;
}

a {
    color: white;
}

a:visited {
    color: white;
}

/* HEADER */

header {
    position: relative;
}

header #background {
    width: 100%;
    height: auto;
}

header #header-container {
    width: 65%;
    position: absolute;
    left: 0px;
    top: 0px;
}

header #header-container #logo {
    width: 100%;
    height: auto;
}

header #header-container #links {
    margin: 10px;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

header #header-container #links .link {
    margin: 20px;
}

header .link img {
    width: 30px;
}

@media (max-width: 500px) {
    header #header-container #links {
        width: 70%;
    }

    header #header-container #links .link {
        margin: 10px;
    }
}

@media (max-width: 360px) {
    header #header-container #links {
        width: 100%;
    }

    header #header-container #links .link {
        margin: 5px;
    }
}

/* INDEX */

#index article {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

#index article #genres {
    font-size: x-large;
    text-transform: lowercase;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#index article #locations {
    font-size: small;
    text-transform: uppercase;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#index article #description {
    line-height: 2;
    text-align: justify;
    letter-spacing: 2px;
    font-size: large;
    font-family: 'CrimsonPro-Medium', 'Times New Roman', Times, serif;
}

#index article #contact {
    font-size: medium;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

@media (max-width: 900px) {
    #index article {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 500px) {
    #index article {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #index article #description {
        line-height: 1.5;
        text-align: left;
    }
}

/* IMPRINT / PRIVACY POLICY */

#imprint article, #privacypolicy article {
    margin: 20px;
    letter-spacing: 2px;
    font-family: 'CrimsonPro-Medium', 'Times New Roman', Times, serif;
}

#imprint h1, #privacypolicy h1 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

/* EPK */

#epk article {
    margin: 20px;
}

#epk article h1 {
    text-transform: uppercase;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#epk article h2 {
    text-transform: uppercase;
    font-size: x-large;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#epk article #release, #epk article #bio, #epk article #photos, #epk article #contact, #epk article #live p {
    font-size: medium;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#epk article #release p, #epk article #bio p {
    line-height: 2;
    text-align: justify;
    letter-spacing: 2px;
    font-size: large;
    font-family: 'CrimsonPro-Medium', 'Times New Roman', Times, serif;
}

#epk article #release, #epk article #bio {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#epk article #release img, #epk article #bio img {
    width: 250px;
}

#epk #media {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#epk #media img {
    width: 50px;
}

#epk #photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 800px) {
    #epk article #release p, #epk article #bio p {
        text-align: left;
    }

    #epk article #release, #epk article #bio {
        flex-direction: column;
    }
}

/* FOOTER */

footer {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    color: white;
    font-size: small;
    font-family: 'Oswald-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}